<main class="main">
  <div class="title">
    <div class="card-img">
      <img class="circle-user" src="../assets/icone-izabel.jpeg"/>
  
      <div class="contato">
        <p><i class="fa-solid fa-location-dot"></i> Rua Secondo João Andreazza, nº 20 – São Camilo, Itu</p>
        <p><i class="fa-solid fa-phone"></i> (11) 97558-0492<br></p>
        <p><i class="fa-solid fa-envelope"></i> izabelpletsch&#64;gmail.com</p>
      </div>
      
      <p class="subtitle">Toque a imagem para informações de contato...</p>      
    </div>
    <h1>Izabel Cristina Pletsch</h1>
  </div>

  <div class="content">
    <h2>Formação Acadêmica <span class="year">2020 a 2023</span></h2>
    <h3>Graduação em Análise e Desenvolvimento de Sistemas</h3>
    FATEC Dom Amaury Castanho

    <h2>Formação Técnica <span class="year">2017 a 2019</span></h2>
    <h3>Técnico em Informática</h3>
    ETEC Martinho Di Ciero

    <h2>Idiomas</h2>
    <ul>
      <li>Inglês Avançado</li>
      <li>Espanhol Básico</li>
    </ul>

    <h2>Conhecimentos em softwares</h2>
    <ul>
      <li>Pacote Office (Excel, Powerpoint, Word, Access)</li>
      <li>Photoshop</li>
      <li>Illustrator</li>
      <li>Bootstrap</li>
      <li>Figma</li>
    </ul>

    <h2>Conhecimentos em Programação</h2>
    <ul>
      <li>SQL</li>
      <li>PHP</li>
      <li>Javascript</li>
      <li>C</li>
      <li>C#</li>
      <li>AngularJS</li>
      <li>JQuery</li>
    </ul>
  </div>
</main>

<router-outlet />
